/.idea/
/pytorch/
*.xml
sc2bot.egg-info/top_level.txt
sc2bot.egg-info/SOURCES.txt
sc2bot.egg-info/requires.txt
sc2bot.egg-info/PKG-INFO
sc2bot.egg-info/not-zip-safe
sc2bot.egg-info/dependency_links.txt
dist/sc2bot-0.1-py3.7.egg
build/lib/sc2bot/__init__.py
build/lib/sc2bot/utils/replay_memory.py
build/lib/sc2bot/utils/epsilon.py
build/lib/sc2bot/utils/__init__.py
build/lib/sc2bot/tests/nn_test.py
build/lib/sc2bot/tests/__init__.py
build/lib/sc2bot/models/nn_models.py
build/lib/sc2bot/models/__init__.py
build/lib/sc2bot/agents/train_beacon_agent.py
build/lib/sc2bot/agents/test_agents/simple_agent.py
build/lib/sc2bot/agents/test_agents/raw_agent_step7.py
build/lib/sc2bot/agents/test_agents/__init__.py
build/lib/sc2bot/agents/run_beacon_agent.py
build/lib/sc2bot/agents/rl_agent.py
build/lib/sc2bot/agents/beacon_agent.py
build/lib/sc2bot/agents/__init__.py
sc2bot/agents/test_agents/